Django
django-crispy-forms
crispy-bootstrap5
Pillow
python-dotenv

langchain
langchain-core
langchain-groq
langchain-community
langchain-huggingface

PyPDF2
pandas
matplotlib
pypdf
faiss-cpu
sentence-transformers
transformers
torch
tiktoken
mysqlclient
